* { box-sizing: border-box; }

body {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444444;
}

.header {
    margin: 4px;
    color: #444444;
    background-color: #ffffff;
    border: 3px;
    border-radius: 10px;
    padding: 10px;
    width: 800px;
}

.title {
    font-size: 2em;
    font-weight: bold;
}

.carousel_type {
    display: flex;
    align-items: center;
}

.carousel_type_checkbox {
    margin: 20px;
}

.carousel_type_label {
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.cell_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carousel_scene {
    width: 600px;
    height: 600px;
    padding-top: 150px;
    perspective: 700px;
}

.carousel_controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.previous-button, .next-button {
    width: 115px;
    height: 50px;
    font-size: 2rem;
    margin: 5px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-color: #444444;
    color: #ffffff;
}

.previous-button:focus, .next-button:focus {
    box-shadow: 0 0 6px 3px #ffffff;
}

.carousel_list {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.7s, opacity 1s;
    list-style: none;
    counter-reset: list-counter;
}

.carousel_cell {
    position: absolute;
    width: 90%;
    height: 60%;
    border: 2px solid #ffffff;
    border-radius: 10px;
    text-align: center;
    transition: transform 1s, opacity 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}